<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xingyou.mapper.PasswordResetTokenMapper">
    
    <!-- 插入重置Token -->
    <insert id="insert" parameterType="com.xingyou.entity.people.PasswordResetToken"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO password_reset_token (user_id, token, expire_time, used, create_time)
        VALUES (#{userId}, #{token}, #{expireTime}, #{used}, #{createTime})
    </insert>
    
    <!-- 根据Token查询 -->
    <select id="findByToken" resultType="com.xingyou.entity.people.PasswordResetToken">
        SELECT * FROM password_reset_token
        WHERE token = #{token}
    </select>
    
    <!-- 根据用户ID查询 -->
    <select id="findByUserId" resultType="com.xingyou.entity.people.PasswordResetToken">
        SELECT * FROM password_reset_token
        WHERE user_id = #{userId} AND used = 0
        ORDER BY create_time DESC
        LIMIT 1
    </select>
    
    <!-- 标记Token为已使用 -->
    <update id="markAsUsed">
        UPDATE password_reset_token
        SET used = 1
        WHERE token = #{token}
    </update>
    
    <!-- 删除Token -->
    <delete id="deleteByToken">
        DELETE FROM password_reset_token
        WHERE token = #{token}
    </delete>
    
</mapper>
